@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
    width: 6px;
    overflow: hidden;
}

*::-webkit-scrollbar-track {
    background: #ffffff00;
}

*::-webkit-scrollbar-thumb {
    background-color: #48846a;
    border-radius: 4px;
    border: 3px none #ffffff00;
}

.rounded-scollable::-webkit-scrollbar {
    width: 6px;
    overflow: hidden;
}

.rounded-scollable::-webkit-scrollbar-track {
    background: #ffffff00;
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
}

.rounded-scollable::-webkit-scrollbar-thumb {
    background-color: #48846a;
    border-radius: 4px;
    border: 3px none #ffffff00;
    margin-right: 4px;
}
